.allCourse{
    margin: 20px;
    padding: 20px;
    background-color: #f0eecd;
    border-radius: 2px;
    width: 90%;
    display: flex;
}
.allCourse p{
    background-color: #ebeb6a;
    color: black;
    width: 60px;
    padding: 2px 15px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 10px;
}
.cart-btn{
    background-color: #a3b46f;
    padding: 7px 15px;
    border-radius: 30px;
    cursor: pointer;
    color: #463939;
    border: none;
}
.cart-btn:hover{
  background-color: #4a5f0c;
  color: wheat;
}
.title-name{
    color: #344904;   
}
#author{
    color: #0000ff;
}
.course-image{
    width: 50%;
    padding-right: 30px;
    position: relative;
    top: 50px;
    margin-right: 10px;
}
.course-image img{
    height: 150px;
    width: 250px;
    justify-content: center;
}
.course-details{
    width: 70%;
}
