.cart{
    margin-left: 120px;
    background-color: lightgray;
    margin-top: 200px;
    padding: 60px;
}
.items{
    text-align: center;
}
.cart h2{
    color: #344904;
}
.cart h4{
    color: #0000ff;
}