.cart{
    margin-left: 120px;
    background-color: #dfd1bb;
    margin-top: 200px;
    padding: 60px;
    box-shadow: 5px 5px 10px gray;
}
.items{
    text-align: center;
}
.cart h2{
    color: #344904;
}
.cart h4{
    color: #0000ff;
}